.category {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  padding-bottom: 60px;

  .item {
    flex-basis: calc(100% / 6);
    min-width: 250px;
    padding: 2px;
    box-sizing: border-box;
    cursor: pointer;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1280px) {
  .category {
    flex-wrap: wrap;

    .item {
      flex-basis: 25%;
      flex-grow: 2;
      min-width: 250px;
      width: 100%;
      padding: 2px;
      box-sizing: border-box;
    }
  }
}
