.header {
  display: grid;
  grid-template-areas: "logo . menu";
  grid-template-columns: 1fr 2fr 1fr;
  padding-top: 2rem;
  padding-bottom: 6rem;

  .header-logo {
    grid-area: logo;
    display: flex;
    align-items: center;

    .platform-title {
      font-size: 2.6rem;
      padding-left: 0.8rem;
    }
  }

  .header-buttons {
    grid-area: menu;
    display: flex;
    justify-content: flex-end;

    div {
      font-size: 1.6rem;
      margin: auto 0;
      padding: 2rem;
      cursor: pointer;
      transition: background-color 0.2s, color 0.2s;
      border-radius: 4px;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .header {
    padding-bottom: 6rem;
    grid-template-areas: "logo . menu";
    grid-template-columns: 2fr 0fr 1fr;

    .header-logo {
      .platform-title {
        @include hidden();
      }
    }
  }
}