/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@mixin component-p {
  margin: 0;
  text-align: center;
  position: relative;
  top: 40%;
  font-size: 30px;
}
