@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap");


:root {
  background: #141414;
  font: 16px "Jost", Helvetica, sans-serif;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

.section-title {
  font-size: 1.5rem;
}

@media screen and (max-width: 1279px) {
  .section-title {
    font-size: 1.8rem;
  }
}