#top-text::after {
  content: "5";
  font-weight: 600;
}

.top {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 60px;

  .top-item {
    flex-basis: 20%;
    min-width: 225px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1280px) {
  #top-text::after {
    content: "3";
  }

  .top {
    .top-item {
      flex-basis: 33%;
      flex-grow: 2;
    }

    .top-item:nth-child(1),
    .top-item:nth-child(2) {
      max-width: 0;
      min-width: 0;
      visibility: hidden;
    }
  }
}
