.container {
  display: flex;
  box-sizing: border-box;
  padding-right: 1em;
  font-size: 20px;
}

.logo {
  width: 4em;
  height: 4em;
}

.title {

  & p {
    margin-bottom: 0px;
    box-sizing: border-box;
    padding-top: 0.8em;
    font-size: 1.5em;
    font-weight: bold;
  }
}
